<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header id="header">
        <nav>
            <ul>
                <img src="safe.png" alt="logo" id="topLogo">
                <li><a href="#" id="tabSafe">TabSafe</a></li>
                <li><a href="signup" id="label1" class="icon brands fa-facebook-f"><span class="label">Sign Up</span></a></li>
                <li><a href="login" id="label2" class="icon brands fa-snapchat-ghost"><span class="label">Login</span></a></li>
            </ul>
        </nav>
    </header>

    <br>

    <section id="section1">
    <h1>Regain your sanity & your computer’s memory today</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ab beatae, aut fugiat optio aspernatur harum, deleniti soluta autem tenetur ad voluptas consectetur aliquid labore expedita error eveniet adipisci eum?</p>
    <button><a href="signup"> Sign Up</a></button>
    <button><a href="#learnMore"> Learn More</a></button>
    </section>

    <br>

    <section>
        <div id="learnMore"><h2>Customize your dashboard to meet your needs.</h2> <p> ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptas nisi ducimus consequatur quisquam? Sapiente, veritatis ducimus! Delectus rem ipsam vitae excepturi quos. Officiis, debitis nulla harum nostrum distinctio maxime.</p></div>
        <div id="dashboardImage"><img src="Dashboard.png" /></div>
    </section>
    <section>
        <div> <h2>Keep all your tabs in collections.</h2><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum itaque quae tempore quia. Quo, deserunt? Fugit voluptate ullam dolores, eveniet voluptas, est at, natus sapiente placeat officia assumenda dignissimos! Quod.</p></div>
        <div id="collectionImage"><img src="Collection.png" /></div>
    </section>
    <div>
    <h3>Why Wait? Join Today!</h3>
    <button><a href="signup">Sign Up</a></button>
    </div>
    <footer>
        <img src="safe.png" alt="Logo">
        <span>Copyright TabSafe 2022</span> 
        <ul>
            <li><img src="facebook.png" alt="facebook"></li>
            <li><img src="instagram.png" alt="instagram"></li>
            <li><img src="twitter.png" alt="twitter"></li>
            <li><img src="youtube.png" alt="youtube"></li>
            <li><img src="email.png" alt="email"></li>
        </ul>
    </footer>
</body>
</html>