<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <header>
        <div class="wrapper">
          <div class="brand">
          <a href='/'><img src="assets/internet.png" alt="logo" id="headerIcon"></a>
          <a href='/'>TabSafe</a>
          </div>
          <nav>
            <ul id="navList">
              <li class="navItem"><a href="signup">Sign Up</a></li>
              <li class="navItem"><a href="login">Login</a></li>
            </ul>
          </nav>
        </div>
      </header>
    
    <main>
        <h1>Regain your sanity & your computer's memory today</h1>
        <p>Bulbasaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ivysaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venusaur Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <button class="primaryButton"><a href="signup"> Sign Up</a></button>
        <button class="altButton"><a href="#learnMore"> Learn More</a></button>
    </main>

    <section class="content" id="learnMore">
        <div class="txt">
            <h2>Customize your dashboard to meet your needs.</h2> 
            <p> Bulbasaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ivysaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venusaur Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="img">
            <img src="assets/Dashboard.png" class="img-responsive" alt="screenshot"/>
        </div>
    </section>

    <section class="content" id="bgVisual">
        <div class="img">
            <img src="assets/Collection.png" class="img-responsive" alt="screenshot"/>
        </div>
        <div class="txt">
            <h2>View all of your links in one place.</h2>
            <p>Bulbasaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ivysaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venusaur Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </section>

    <section id="cta">
        <div>
            <h3>Why Wait? Join Today!</h3>
            <button class="primaryButton"><a href="signup">Sign Up</a></button>
        </div>
    </section>

    <footer>
        <div>
        <img src="assets/internet.png" alt="Logo" class="footerIcon">
        <span>Copyright TabSafe 2022</span>
        </div> 
        <div>
        <ul>
            <li><img src="assets/facebook.png" alt="facebook" class="footerIcon"></li>
            <li><img src="assets/instagram.png" alt="instagram" class="footerIcon"></li>
            <li><img src="assets/twitter.png" alt="twitter" class="footerIcon"></li>
            <li><img src="assets/youtube.png" alt="youtube" class="footerIcon"></li>
            <li><img src="assets/email.png" alt="email" class="footerIcon"></li>
        </ul>
        </div>
    </footer>

</body>
</html>