<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tab-Safe - Link Manager and Accessibility App</title>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>
	<body>
		<header>
			<div class="wrapper">
				<div class="brand">
					<a href="/"
						><img src="assets/internet.png" alt="logo" id="headerIcon"
					/></a>
					<a href="/">TabSafe</a>
				</div>
				<nav>
					<ul id="navList">
						<li class="navItem"><a href="signup">Sign Up</a></li>
						<li class="navItem"><a href="login">Login</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main>
			<h1>Organise the tabs on your browser and never lose a link again</h1>
			<p>
				Tab-safe is an online web app designed with accessibility users in mind.
				Have you ever been browsing with multiple tabs open, then suffered a
				crash or just opened another window losing everything you had ready?
				Don't worry we got you! With Tab-safe you can add your links to a
				personal database and retrieve them later safe in the knowledge they're
				backed up in our database
			</p>
			<button class="primaryButton"><a href="signup"> Sign Up</a></button>
			<button class="altButton"><a href="#learnMore"> Learn More</a></button>
		</main>

		<section class="content" id="learnMore">
			<div class="txt">
				<h2>Customize your dashboard to meet your needs.</h2>
				<p>
					Give your links tags and organise them in categories for viewing
					later. Or quickly, easily delete them if you need to make some space.
				</p>
			</div>
			<div class="img">
				<img
					src="assets/Dashboard.png"
					class="img-responsive"
					alt="screenshot"
				/>
			</div>
		</section>

		<section class="content" id="bgVisual">
			<div class="img">
				<img
					src="assets/Collection.png"
					class="img-responsive"
					alt="screenshot"
				/>
			</div>
			<div class="txt">
				<h2>View all of your links in one place.</h2>
				<p>
					View your last 5 links, or browse them by collection or tag. It's easy
					to add new links and give them a helpful reference tag and best thing
					is, closing the browser won't affect them!
				</p>
			</div>
		</section>

		<section id="cta">
			<div>
				<h3>Why Wait? Join Today!</h3>
				<button class="primaryButton"><a href="signup">Sign Up</a></button>
			</div>
		</section>

		<footer>
			<div>
				<img src="assets/internet.png" alt="Logo" class="footerIcon" />
				<span>Copyright TabSafe 2022</span>
			</div>
			<div>
				<ul>
					<li>
						<img src="assets/facebook.png" alt="facebook" class="footerIcon" />
					</li>
					<li>
						<img
							src="assets/instagram.png"
							alt="instagram"
							class="footerIcon"
						/>
					</li>
					<li>
						<img src="assets/twitter.png" alt="twitter" class="footerIcon" />
					</li>
					<li>
						<img src="assets/youtube.png" alt="youtube" class="footerIcon" />
					</li>
					<li><img src="assets/email.png" alt="email" class="footerIcon" /></li>
				</ul>
			</div>
		</footer>
	</body>
</html>
