h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.links{
    text-decoration: underline;
}
#topLogo{
    position: absolute;
width: 50px;
height: 50px;
left: 40px;
top: 10px;
}
nav{
    position: absolute;
width: 1440px;
height: 70px;
left: 0px;
top: 0px;

background: #FFFFFF;
}
#tabSafe{
    position: absolute;
width: 130px;
height: 25px;
left: 110px;
top: 23px;

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;

color: #000000;

}
#label1{
position: absolute;
width: 99px;
height: 25px;
left: 1203px;
top: 23px;

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}
#label2{
    position: absolute;
width: 98px;
height: 25px;
left: 1322px;
top: 23px;

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

}


.tag {
    color: rgb(41, 36, 36);
    list-style-type: none; 
    display: inline-block;
    background-color: #cde1e9;
    margin-right: 0.25rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

ul {
    padding-left: 0;
}
